/* Basic style */
* {
  box-sizing: border-box;
}
body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}
h1, h2, p, a {
  color: var(--primary)
}
li {
  font-size: 2em;
  display: inline-block;
  a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.8em;
    background: var(--secondary);
    color: var(--highlight-primary);
    border: var(--line) solid var(--highlight-primary);
    border-radius: var(--pill);
    font-weight: normal;
    text-decoration: none;
    &:hover, &:focus {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}


/* UI Event Classes */

/* Jump animation on the Design link */
a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties en stijlen */

/* Click animation on the Frontend link */
a[href="#frontend"] {
  background-color: var(--highlight-secondary);
  color: var(--secondary);
}

.scale {
  animation-name: --scaleUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes --scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3.3);
  }
  100% {
    transform: scale(1);
  }
}

/* Translate animation on the & link */
a[href="#and"] {
  background-color: var(--highlight-secondary);
  color: var(--secondary);
}

.translate {
  animation-name: --slide-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes --slide-in {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(30em);
  }

  100% {
    transform: translateX(0em);
  }
}

/* Shake animation on the Development link */
.shake {
  animation-name: --shakeUp;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.shake:hover{
  animation-name: --shakeUp;
  animation-duration: 2s;
  animation-iteration-count: 1;
  background-color: var(--highlight-secondary);
}

@keyframes --shakeUp {
  0% { 
    transform: rotate(-15deg); 
  }

  5% { 
    transform: rotate(15deg); 
  }

  10% {
    transform: rotate(-15deg); 
  }
  
  15% { 
    transform: rotate(15deg); 
  }

  20% { 
    transform: rotate(0deg); 
  }
  
  100% { 
    transform: rotate(0deg); 
  }  
}

/* Focus animation on the Sprint 5 link */
a[href="#sprint-5"] {
  color: var(--highlight-secondary);
}

.down {
  animation-name: --slide-down;
  animation-duration: 2s;
  animation-iteration-count: 1;
  background-color: rgb(255, 209, 124);
  color: #050840;
}


@keyframes --slide-down {
  0% {
    transform: translateY(0);
    background-color: aqua;
  }

  50% {
    transform: translateY(6.7em);
    background-color: palevioletred;

  }

  100% {
    transform: translateY(0em);
    background-color: rgb(49, 160, 49);

  }
}






/* Mousout animation on the "The" link */
a[href="#the"] {
  color: var(--highlight-secondary);
}

.rotate {
  animation-name: --rotateUp;
  animation-duration: 0.4s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

@keyframes --rotateUp {
  0% { 
    transform: rotate(0deg); 
  }

  100% { 
    transform: rotate(360deg); 
  }  
} 